<%= form_with model: career, class: "row g-3", data: {turbo: false} do |f| %>
  <div class="col-md-6">
    <%= f.label :title, "Title", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.label :started_at, "Started at", class: "form-label" %>
    <%= f.date_field :started_at, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.label :ended_at, "Ended at", class: "form-label" %>
    <%= f.date_field :ended_at, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: "5" %>
  </div>
  <div class="col-12">
    <%= link_to "Back", careers_path, class: "btn btn-secondary me-3" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
