<main class="container">
  <div class="mt-5">
    <h1 class="mb-3">Show Career</h1>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <small>Title</small>
      <div class="fs-4"><%= career.title %></div>
    </div>
    <div class="col-md-3">
      <small>Started at</small>
      <div class="fs-4"><%= career.started_at %></div>
    </div>
    <div class="col-md-3">
      <small>Ended at</small>
      <div class="fs-4"><%= career.ended_at %></div>
    </div>
    <div class="col-md-3">
      <small>Notoin key</small>
      <div class="fs-4"><%= career.notion&.key %></div>
    </div>
    <div class="col-12">
      <small>Description</small>
      <div class="fs-5"><%= career.description %></div>
    </div>
  </div>
</main>
