<main class="container pt-5">
  <h4 class="mb-3">Blogs</h4>
  <div class="d-flex justify-content-end">
    <%= link_to "new blog", new_blog_path, class: "btn btn-primary w-25" %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
    <% blogs.each do |blog| %>
      <div class="col">
        <div class="card">
          <%= image_tag "rails.png", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.summary %></p>
            <%= link_to "edit", edit_blog_path(blog), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
